* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #303030;
}

header {
    background-color: #2965F1;
    padding: 23px 0;
}

header span {
font-weight: 700;
font-size: 20px;
color: #fff;
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
    min-height: 100vh;

}

.main-title {
    font-weight: 700;
    font-size: 48px;
    
    margin-bottom: 20px;
}

.main-text {
    font-weight: 400;
    font-size: 18px;
    
}

.main-image {
    max-width: 715px;
}


.about-section {
    background-color: #fff;
    padding: 100px 0;
}

select {
    width: 150px;
    height: 36px;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    
    overflow: hidden;
    background: url(./assets/images/ep_arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
    
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    
    margin-bottom: 25px;

}

.frameworks-list {
    list-style-image: url(./assets/images/Vector1.svg);
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    
}

.books-list {
    font-weight: 400;
font-size: 16px;

padding-left: 20px;

}

.label {
    font-weight: 400;
font-size: 16px;

}

.text-field {
    width: 330px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 8px;

}

.btn {
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    width: 300px;
    height: 196px;
    border-collapse: collapse;
    font-weight: 400;
    font-size: 14px;
    

}

th, td {
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 12px;
}

footer {
    background-color: rgba(163, 167, 255, 0.3);
    padding-top: 26px;
    padding-bottom: 27px;
}

.footer-link {
    font-weight: 400;
font-size: 14px;
color: #2965f1;
text-decoration: none;

}